.group {
  height: 88vh;
  overflow: scroll;
  padding: 1rem;

  &__title {
    margin-bottom: 16px;
  }

  .add-song {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 100%;
    background-color: #81F499;
    width: 4rem; 
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all .3s;
    cursor: pointer;

    &__icon {
      transform: scale(1.5);
    }

    &:hover {
      transform: rotate(90deg);
    }

    &:focus {
      outline: none;
    }
  }
}