<section class="group">
  <h1 class="group__title">{{ group.title }}</h1>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <app-song></app-song>
  <button class="add-song">
      <svg class="add-song__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
        <defs>
            <path id="a" d="M11 9h6v2h-6v6H9v-6H3V9h6V3h2v6z"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <mask id="b" fill="#fff">
                <use xlink:href="#a"/>
            </mask>
            <g fill="#2E3547" mask="url(#b)">
                <path d="M0 0h20v20H0z"/>
            </g>
        </g>
    </svg>
  </button>
</section>
