.dashboard {
  display: grid;
  grid-template-columns: 16rem 1fr;
  min-height: 100vh;

  &__right {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__sidebar {
    background-color: #2E3547;
    -webkit-box-shadow: 3px 3px 26px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 3px 26px -5px rgba(0,0,0,0.42);
    box-shadow: 3px 3px 26px -5px rgba(0,0,0,0.42);
    // width: 10rem;
  }

  &__header {
    background-color: #fff;
    height: 72px;
    -webkit-box-shadow: 0px 5px 32px -13px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 5px 32px -13px rgba(0,0,0,0.42);
    box-shadow: 0px 5px 32px -13px rgba(0,0,0,0.42);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .2rem .6rem;
  }

  &__body {

  }
}